#app {
  display: flex;
  flex-direction: row;
  height: 100svh;
}

.main-panel {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: var(--text);
}
